@model PizzaStore.Client.Models.PizzaViewModel

@* TAG HELPER WAY *@
<form asp-action="placeorder" method="post">
    <h5>Crust Options</h5>
    <p>
        @foreach (var crust in @Model.Crusts)
        {
            <input type="radio" asp-for="@Model.Crust" id="@crust.Name" value="@crust.Name">
            <label for="@crust.Name">@crust.Name</label>
        }
        <span asp-validation-for="Crust" style="color: red;"></span>
    </p>

    <h5>Size Options</h5>
    <p>
        <select asp-for="@Model.Size">
        @foreach (var size in @Model.Sizes)
        {
            <option value="@size.Name">@size.Name</option>
        }
        </select>
        <span asp-validation-for="Size" style="color: red;"></span>
    </p>

    <h5>Topping Options</h5>
    <p>
        @foreach (var topping in @Model.Toppings)
        {
            <input type="checkbox" name="SelectedToppings" id="@topping.Name" asp-for="SelectedTopping" value="@topping.Name">
            <label for="@topping.Name">@topping.Name</label>
        }
        <span asp-validation-for="SelectedToppings" style="color: red;"></span>
    </p>

    <button type="submit">Place Order</button>
</form>